@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<p>Check out some these things about Joel</p>
<a href="https://www.qwcomedy.com/">Check out Quick Wits Comedy, where Joel performs regularly</a>
<br/>
<a href="https://baconsale.com/">Check out Baconsale, Joel's movie blog!
    <img src="~/img/BaconsaleKate.jpg" alt="Baconsale Kate" height="400px" />
</a>