@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<a href="https://www.qwcomedy.com/">Check out Quick Wits Comedy</a>
<a href="https://baconsale.com/">Check out Baconsale, Joel's movie blog!</a>
<img src="img/BaconsaleKate.jpg" alt="Baconsale Kate" height="400px" />