@{
    ViewData["Title"] = "Joel Hilton Movie Collection";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Joel Hilton Movie Collection</h1>
    <img src="img/JoelHiltonHeadshot.jpg" height="400px" alt="Picture of Joel Hilton"/>
    <p>This is gonna be epic</p>
</div>